
.nav {
    padding: 1%;
    background-color:chocolate;
    width: 100%;
    height: auto;
}

.nav h1 {
    margin-left: 10px;
}
.aligncenter {
    align-items: center;
    
}

.justifycenter {
    display: flex;
    justify-content: center;
}

.title {
    
}

p {
    font-size: x-large;
}

.body {
    display: flex;
}
.container {
    margin: 20px;
    border-color: black;
    border-style: solid;
    /* background-color: aquamarine; */
    width: auto;
    height: auto;  
}

.container-2 {
    /* margin: 20px;
    border-color: black;
    border-style: solid;
    background-color: aquamarine; */
    width: auto;
    height: auto;  
}

.box {
    align-items: center;
    padding: 1%;
    width: 100%;
    height: auto%;
    display: inline-block;
}   

.spacebetween {
    justify-content: space-between;
}

.displayflex {
    display: flex;
}

.flex {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.spacearound {
    justify-content: space-around;
}

.spaceeven {
    justify-content: space-evenly;
}

.btn {
    box-shadow: 2px 2px 2px black;
    background-color: rgb(209, 209, 60);
    height: 30px;
    width:auto
}

img {
    border-radius: 60%;
}